*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,body{
    width: 100%;
    height: 100%;
}

.cont{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
.cont video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
.cont button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1vw 2vw;
    font-size: 1.5vw;
    border-radius: 50px;
    font-weight: 700;
    font-family: 'Gilroy';
    cursor: pointer;
    border: none;
}